# Tracing Problem in "for()" LOOPS

In [6]:
### Q1 Find the output

x = 123

for i in x:
    print(i)
# Output --> 1  2  3
# Wrong answer -- integer type object can't be iterate So it will throw erron

TypeError: 'int' object is not iterable

# Q2.find the output of following snippet

In [8]:
True = False
while True:
    print(True)
    break
# OUTPUT --> error may be because we cannot assign anything to "True"
# RIGHT answer

SyntaxError: cannot assign to True (1279186236.py, line 1)

# Q3find the output of following snippet

In [10]:
for i in range(1, 100):
    if i % 3 == 0:
        break
    print(i)
# OUTPUT --> 1, 2
# RIGHT ANSWER

1
2

# Q4.find the output

In [11]:
j = 1

for i in range(1, 11): 
    if i % 3 != 0:
        j += 2
    elif j % 3 == 0:
        break
    print(i + j)

# OUTPUT --> 4 7 8 9 
# WRONG ANSWER 
# Correct Answer -->

4
7
8
11
14

# Q5. find the output of following snippet

In [13]:
x = 0
for i in range(1, 6):
    if i % 2 == 0:
        x += i
    else:
        x -= i
    print(x)

# OUTPUT --> -1 1 -2 2 -3
# Correct answer

-1
1
-2
2
-3

# Q6. find the output of following snippet

In [22]:
s = 0
for i in range(1, 11):
    if s % 2 == 0:
        s += i
        print(i, "if  = ", s)
    else:
        s -= i
        print(i, "else = ", s)
print("last s = ",s)

# OUTPUT --> 1 -1 -4  0  5 -1 -8  0  9 -1

1 if  =  1
2 else =  -1
3 else =  -4
4 if  =  0
5 if  =  5
6 else =  -1
7 else =  -8
8 if  =  0
9 if  =  9
10 else =  -1
last s =  -1

# Q7. find the output of following snippet

In [24]:
j = 1
for i in range(5, 0, -1):
    if j % 2 != 0:
        j += i
    else:
        break
print(i + j)

# for loop tracing j --> 6 
# OUTPUT --> 10

10

# Q8. find the output of following snippet

In [27]:
a = 1
b = 2

for i in range(1, 6) :
    if i % 2 == 0 :
        a *= b
    else :
        b += a
print(a + b)

# for loop tracing calculation of :
# a --> 3 18 
# b --> 3 6 24
# OUTPUT --> 42

42

# Q9. find the output of following snippet

In [28]:
result = 0

for i in range(1, 6):
    for j in range(1, i+1):
        result += j
        
print(result)

# for loop tracing calculation of result --> 1, 2 4, 5 7 10, 11 13 16 20, 21 23 26 30 35
# OUTPUT --> 35

35

# Q10. find the output of following snippet

In [29]:
sum = 0
for i in range(1, 10):
    sum += i
    if sum > 15 :
        break
print(i, sum)

# for loop tracing calculation of :
# sum --> 1 3 6 10 15 21
# OUTPUT --> 6 21

6 21

# Q11. find the output of following snippet

In [30]:
x = 0
for i in range(1, 10):
    if i % 4 == 0:
        break
    x += i
print(x)

# OUTPUT --> 6

6

# Q12. find the output of following snippet

In [32]:
s = 0
for i in range(1, 6):
    if i == 3:
        continue
    s += i
print(s)

# OUTPUT --> 12

12

# Q13. find the output of following snippet

In [33]:
total = 0
for i in range(1, 6):
    if i % 2 == 0 and total > 3:
        break
    total += i
print(total)

# OUTPUT --> 6

6

# Q14. find the output of following snippet

In [34]:
count = 0
for i in range(1, 11):
    if i % 2 != 0:
        continue
    count += i
print(count)

# OUTPUT --> 30

30

# Q15. find the output of following snippet

In [37]:
j = 0
for i in range(1, 10):
    if i % 3 == 0:
        continue
    if i + j > 15:
        break
    j += i
print(j)

# OUTPUT --> 12

12

# Q16. find the output of following snippet

In [38]:
result = 0
for i in range(1, 4):
    for j in range(1, 4):
        if j == 2:
            break
        result += i + j
print(result)

# OUTPUT --> 9

9

# Q17. find the output of following snippet

In [39]:
total = 0
for i in range(1, 4):
    for j in range(1, 4):
        if j == 2:
            continue
        total += i + j
print(total)

# OUTPUT --> 24

24

# Q18. find the output of following snippet

In [42]:
s = 0
for i in range(5):
    print("i = ", i)
    s += i
    if s > 6:
        break
print(i, s)

# OUTPUT --> error 
# wrong answer, this loop will take initialization as 0 and go upto i < 5 so the OUTPUT would be 10

i =  0
i =  1
i =  2
i =  3
i =  4
4 10

# Q19. find the output of following snippet

In [43]:
x = 10
for i in range(1, 6):
    if i == 4:
        continue
    x -= i
print(x)

# OUTPUT --> -1

-1

# Q20.find the output of following snippet

In [46]:
res = 0
for i in range(1, 10):
    if i % 3 == 0:
        continue
    elif i > 6:
        break
    res += i
print(res)

# OUTPUT --> 12

12